PUSHN 7
PUSHI 0
STOREG 6
PUSHS "Introduza 5 numeros inteiros:"
WRITES
PUSHI 1
STOREG 5
DO30START1:
PUSHG 5
PUSHI 5
INFEQ
JZ DO30END2
PUSHGP
PUSHI 0
PADD
PUSHG 5
PUSHI 1
SUB
READ
ATOI
STOREN
PUSHG 6
PUSHGP
PUSHI 0
PADD
PUSHG 5
PUSHI 1
SUB
LOADN
ADD
STOREG 6
L30:
PUSHG 5
PUSHI 1
ADD
STOREG 5
JUMP DO30START1
DO30END2:
PUSHS "A soma dos numeros e: "
WRITES
PUSHG 6
WRITEI
STOP
